<section id="home" class="hero-section">
    <div class="container">
        <div class="row align-items-center gy-5">

            <div class="col-lg-5 text-center">
                <div class="image-container mx-auto">
                    <img src="/images/manthan.png" alt="Manthan">
                </div>
            </div>

            <div class="col-lg-7 text-center text-lg-start">

                <h1 class="hero-title">
                    Hello, I'm <span>Manthan</span>
                </h1>

                <p class="hero-subtitle">
                    Full Stack Developer |
                    Tech Enthusiast |
                    Problem Solver
                </p>

                <div class="d-flex justify-content-center justify-content-lg-start gap-3 mt-4">
                    <a href="https://github.com/Manthan0207" class="social-link" target="_blank">
                        <i class="fab fa-github"></i>
                    </a>

                    <a href="https://instagram.com/manthan_0207" class="social-link" target="_blank">
                        <i class="fab fa-instagram"></i>
                    </a>

                    <a href="https://linkedin.com/in/manthan-panseriya-237739338" class="social-link" target="_blank">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                </div>

            </div>

        </div>
    </div>
</section>