<div class="d-flex flex-column justify-content-center align-items-center bg-light"
    style="margin-top: 80px; min-height: 90vh;">
    <div class="p-3 shadow bg-white rounded" style="width: 80%; max-width: 900px; height: 85vh;">
        <iframe src="/files/resume.pdf" title="Resume" class="w-100 h-100 rounded border-0"></iframe>
    </div>

    <a href="/files/resume.pdf" download class="btn btn-dark mt-3 px-4">
        <i class="fa-solid fa-download me-2"></i>Download Resume
    </a>
</div>