<div class="d-flex justify-content-center align-items-center vh-100 bg-light" style="margin-top: 80px;">
    <div class="p-3 shadow bg-white rounded" style="max-width: 80%; max-height: 90vh;">
        <img src="/images/resume.jpg" alt="Resume" class="img-fluid rounded">
    </div>